* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.product-viewtag {
    background-color: red;
    color: #fff;
    font-size: 11px;
    line-height: 1;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 22px;
    margin-left: 17.5rem;
    padding: 7px 10px;
    font-weight: 600;
    min-width: 45px;
}
.active {
    font-weight: 800;
}

.customBackgroundColor{
    background-color: #c0c0c0;
    opacity: 1.9;
}